*{
    padding:0;
    margin:0;
}

/*  general */

section{
    padding: 50px 0;
}

/*  gallery */

.gallery-title{
    font-size: 36px;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
    font-family: "Bungee", cursive;
}
.filter-button{
    font-size: 18px;
    border: 2px solid #3F6184;
    padding:5px 10px;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
    background:transparent;
}
.filter-button:hover,
.filter-button:focus,
.filter-button.active{
    color: #ffffff;
    background-color:#3F6184;
    outline:none;
}
.gallery_product{
    margin: 0px;
    padding:0;
    position:relative;
}
.gallery_product .img-info{
    position: absolute;
    background: rgba(0,0,0,0.5);
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    overflow:hidden;
    color:#fff;
    top:0;
    display:none;
       -webkit-transition: 2s;
    transition: 2s;
}

.gallery_product:hover .img-info{
    display:block;
   -webkit-transition: 2s;
    transition: 2s;
}

/*  end gallery */
/*=========== breadcrumb_area css =============*/
.breadcrumb_area {
  position: relative;
  padding: 172px 0px 84px;
  background: #04091e;
  z-index: 1;
  overflow: hidden;
}

.breadcrumb_area .bg-parallax {
  background: url("../image/about_banner.jpg") no-repeat scroll center 0/cover;
  opacity: 0.50;
  z-index: -1;
}

.page-cover-tittle {
  display: block;
  font-size: 36px;
  line-height: 45px;
  color: #fff;
}

.breadcrumb {
  text-align: center;
  background: transparent;
  padding: 0px;
  display: inline-block;
}

.breadcrumb li {
  display: inline-block;
  color: #fff;
  font-size: 20px;
}

.breadcrumb li a {
  color: #fff;
  font-size: 20px;
}

.breadcrumb li + li:before {
  
  font-family: 'Linearicons-Free';
  font-size: 20px;
  font-weight: 600;
  vertical-align: middle;
  margin: 0px 10px 0px 7px;
}

/*============= End banner_area css =============*/